# Admin username & password (generate a password.)
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=

# Public-facing URL of Keycloak
KC_HOSTNAME=http://localhost:8080
# Whether to enable HTTP access (disabled by default)
KC_HTTP_ENABLED=true

# Database driver
KC_DB=postgres
# Database host
KC_DB_URL_HOST=postgres
# Databaser user (same as in `config/postgres/init-db.sh`.)
KC_DB_USERNAME=keycloak
# Same password as in Postgres configuration (`config/postgres/.env`.)
KC_DB_PASSWORD=