.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/vcs.xml
docs/.idea/docs.iml
docs/.idea/inspectionProfiles/profiles_settings.xml
docs/.idea/misc.xml
docs/.idea/modules.xml
docs/.idea/vcs.xml
docs/.idea/workspace.xml
