API_BASE=http://backend

# External frontend URL
NEXTAUTH_URL=http://localhost:3000
# Internal (inside Docker) frontend URL
NEXTAUTH_URL_INTERNAL=http://frontend:3000
# Generate a secret.
NEXTAUTH_SECRET=

# OIDC Client ID
KC_CLIENT_ID=hive-nextauth
# OIDC Client Secret
KC_CLIENT_SECRET=
# Keycloak URL with the realm
KC_ISSUER=http://localhost:8080/realms/hive